pipeline/PL_string_parse.json
{
	"name": "PL_string_parse",
	"properties": {
		"activities": [
			{
				"name": "Set variable1",
				"type": "SetVariable",
				"dependsOn": [],
				"userProperties": [],
				"typeProperties": {
					"variableName": "v1",
					"value": {
						"value": "@string(add(indexof(pipeline().parameters.P1,'.'),-17))",
						"type": "Expression"
					}
				}
			},
			{
				"name": "Set variable2",
				"type": "SetVariable",
				"dependsOn": [
					{
						"activity": "Set variable1",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"variableName": "v_date_String",
					"value": {
						"value": "@substring(pipeline().parameters.P1,variables('v1'),4)",
						"type": "Expression"
					}
				}
			}
		],
		"parameters": {
			"P1": {
				"type": "string",
				"defaultValue": "Annuity Production Report (IMO only) - AmeriLife 2021_08_26_081644.xlsx"
			}
		},
		"variables": {
			"v1": {
				"type": "String",
				"defaultValue": "a"
			},
			"v_date_String": {
				"type": "String"
			}
		},
		"annotations": []
	}
}